.popup-content {
    max-height: 200px;
    overflow: auto;
}

.plus-icon {
    /* color: #0f1de7; */
    cursor: pointer;
    font-size: 20px;
}

.welcome-text {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px 0;
    max-height: 250px;
    overflow: auto;
}

.welcome-text p {
    margin: 0;
}

.dot {
    font-weight: 600;
    text-transform: capitalize;
}

.ant-card-body {
    padding: 20px !important;
}

.dot::after {
    margin-top: 5px;
    content: '\A';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #63d514;
    display: inline-block;
    margin-left: 4px;
}
